<div class='navbar' data-cy='navbar'>
  <div class='navbar__inner'>
    <div class='container'>
      <div class='navbar__heading'>
        <a href='/'>PizzaHaus</a>
        <span class='heading__sub'>"Our dough, your pizza"</span>
      </div>
    </div>
  </div>
</div>