<div class='product' data-cy='product'>
  <h3></h3>
  <img src='' alt='' />
  <p></p>
  <ul></ul>
  <p>&pound;</p>
  <div class='promo-blocks__actions'>
    <button data-id='' onClick=''>
      Edit
    </button>
    <button data-id='' onClick=''>
      Delete
    </button>
  </div>
</div>