<h2>Update {{restaurant.name}}</h2>

<form id='updateRestaurantForm'>
  <input type='hidden' name='restaurantId' value='{{restaurant._id}}' />
  <div>
    <label for='name'>Name</label><br />
    <input
      type='text'
      name='name'
      id='name'
      placeholder='{{restaurant.name}}'
    />
  </div>
  <div>
    <label for='imagelink'>Image link</label><br />
    <input
      type='text'
      name='imagelink'
      id='imagelink'
      placeholder='{{restaurant.imagelink}}'
      required
    />
  </div>
  <button type='submit' class='button--anchor'>
    Submit
  </button>
</form>

<script>
  const form = document.getElementById("updateRestaurantForm")
  form.addEventListener("submit", updateRestaurant)
</script>