<div class='navbar' data-cy='navbar'>
  <div class='navbar__inner'>
    <div class='container'>
      <div class='navbar__heading'>
        <a href='/'>PizzaHaus</a>
        <span class='heading__sub'>"Our dough, your pizza"</span>
      </div>
      <ul class="navbar__navigation">
        <li>
          <a href="/restaurants">Restaurants</a>
          <a href="/menus">Menus</a>
          <a href="/menu-items">Menu Items</a>
        </li>
      </ul>
    </div>
  </div>
</div>